.container {
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  padding: 1rem;
  margin: 2rem auto;
}

.codePreview {
  width: 100%;
  max-height: 100vh;
  overflow: scroll;
  background-color: #fff;
  color: var(--dimmed-black);
  padding: 0.8rem;
}

.previewContainer__publishButton {
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  color: var(--dimmed-black);
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.25);
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.previewContainer__publishButton:hover {
  box-shadow: 0 5px 15px rgb(0 0 0 / 0.25);
}

.editor {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
