@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  background-color: var(--primary-color);
  color: var(--dimmed-black);

  --primary-color: #f9f4ec;
  --secondary-color: #ebd5cf;
  --tertiary-color: #e8c6bc;

  --dark-brown: #231f20;
  --light-brown: #43383b;
  --dimmed-black: #1a202c;

  --page-max-width: 1400px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  max-width: 100vw;
}

body {
  width: 100%;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  background-color: var(--dark-brown);
}

button:disabled {
  cursor: not-allowed;
}

textarea:focus,
input:focus,
button:focus {
  outline: 2px solid #000;
}

input {
  max-width: 100%;

  padding: 0.5rem 1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: var(--dimmed-black);
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}
