.item_navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 0.5rem;
  align-items: center;
}

.item_navbar__button {
  display: flex;
  place-items: center;
  gap: 0.2rem;
  padding: 0.7rem;
  background-color: #ededed;
}
