.item {
  width: min(400px, 100%);
  place-self: center;
  max-width: 100%;
  min-height: 300px;

  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
  justify-content: space-between;

  background-color: #fff;
  border-radius: 4px;
}

.item__footer__author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  color: #000;

  background-color: transparent;
}

.item__footer__title {
  font-size: 1.2rem;
}

.item__footer__author__avatar {
  border-radius: 50%;
}

.item__preview {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #000;
  padding: 2rem 1rem;
  overflow: auto;

  border-radius: 4px;
}

.item__preview div {
  height: fit-content;
}

.item__footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem;

  background-color: #defbff;
  color: #000;

  justify-content: space-between;
}
