.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--primary-color);
  color: var(--dimmed-black);
  padding: 1rem;
  border-radius: 4px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.label {
  font-size: 1rem;
}
