.container {
  background-image: linear-gradient(
    to bottom,
    var(--primary-color),
    var(--secondary-color)
  );
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 8rem 1rem 2rem;
  align-items: center;
}
