.login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.login__login_btn {
  border: 2px solid transparent;
  background-color: var(--tailwind-color-darker);
  color: #fff;

  transition: 0.3s ease background-color;
}

.login__login_btn__icon {
  width: 1.2rem;
}

.login__login_btn:hover {
  background-color: var(--tailwind-color);
}

.login__logout_btn {
  border: 2px solid var(--tailwind-color-darker);
  background-color: transparent;
  color: var(--tailwind-color-darker);

  transition: 0.3s ease border-color;
}

.login__logout_btn:hover {
  border: 2px solid var(--tailwind-color);
}

.login__error_message {
  color: #f33;
}

.login__user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.login__user__name {
  font-weight: 600;
}

.login__user__avatar {
  border-radius: 50%;
  max-width: 100%;
  width: 2rem;
}

@media screen and (max-width: 576px) {
  .login__user__name {
    display: none;
  }
}
