.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem 1rem;
  background-color: var(--dimmed-black);
}

.components_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
  gap: 2rem;
  width: 100%;
  max-width: var(--page-max-width);
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .components_list {
    grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
  }
}
