.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem 1rem;
}

.components_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  gap: 1rem;

  width: 100%;
}
