.search_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  max-width: 800px;
  margin: 0 auto;
}

.search_container__search_input {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.filters_list {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #000;
}

.filters_list__option {
  font-size: 1rem;
  color: #000;
}
